<template>
  <div>
    <h1>Cart</h1>
    <div class="row mt-5">
      <div class="col-sm">
        <p class="text-muted" v-if="items.length == 0">Your cart is empty</p>

        <ul class="list-group">
          <li class="list-group-item" v-for="cartItem in items" :key="cartItem.id">
            <span class="font-weight-bold">ID:</span>
            {{ cartItem.id }}
            <br />
            <span class="font-weight-bold">Quantity:</span>
            {{ cartItem.quantity }}
            <br />
            <a
              class="text-danger text-decoration-none"
              @click="remove(cartItem.id)"
              style="cursor: pointer"
            >Remove from cart</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters("cart", ["items"])
  },
  methods: {
    ...mapActions("cart", ["remove"])
  }
};
</script>
