<template>
  <form class="form-inline my-2 m-auto">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" v-model="filter" />
  </form>
</template>

<script>
export default {
  computed: {
    filter: {
      get() {
        return this.$store.getters.filter;
      },
      set(value) {
        this.$store.dispatch('updateFilter', value);
      }
    }
  }
}
</script>
