<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link to="/" class="navbar-brand">E-commerce</router-link>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <app-header-search></app-header-search>

      <router-link to="/cart" class="mx-2 text-decoration-none">
        <i class="fas fa-shopping-cart text-dark"></i>
        <span class="badge badge-pill badge-primary" v-if="itemsCount > 0">{{ totalQuantity }}</span>
      </router-link>

      <ul class="navbar-nav">
        <router-link to="/sign-in" tag="li" class="nav-item" active-class="active">
          <a class="nav-link">Sign in</a>
        </router-link>
        <router-link to="/sign-up" tag="li" class="nav-item" active-class="active">
          <a class="nav-link">Sign up</a>
        </router-link>
      </ul>
    </div>
  </nav>
</template>

<script>
import HeaderSearch from "./HeaderSearch.vue"
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters("cart", ["itemsCount", "totalQuantity"])
  },
  components: {
    appHeaderSearch: HeaderSearch
  }
};
</script>
