<template>
  <div class="col-sm m-auto">
    <div class="card" style="width: 18rem; cursor: pointer" @click="navigateToProductDetail">
      <img :src="product.img" class="img-thumbnail card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: Object
  },
  methods: {
    navigateToProductDetail() {
      this.$router.push(`/products/${this.product.id}`);
    }
  }
};
</script>
