<template>
  <div>
    <h1>Products</h1>
    <div class="row mt-5">
      <app-product-grid-item v-for="product in products" :key="product.id" :product="product"></app-product-grid-item>
    </div>
  </div>
</template>

<script>
import ProductGridItem from "./ProductGridItem.vue";
import { ProductService } from "../productService";
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      products: []
    };
  },
  computed: {
    ...mapGetters(['filter'])
  },
  components: {
    appProductGridItem: ProductGridItem
  },
  created() {
    this.products = ProductService.getAll();
  }
};
</script>
