<template>
  <div>
    <h1>Product detail</h1>
    <div class="row mt-5">
      <div class="col-6">
        <img :src="product.img" class="img-fluid" alt="Responsive image" />
      </div>
      <div class="col-6">
        <h3>{{ product.name }}</h3>
        <p class="text-muted">{{ product.description }}</p>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" class="form-control" v-model="quantity" id="quantity" />
            </div>
            <button class="btn btn-primary btn-block">Buy now</button>
            <button class="btn btn-outline-primary btn-block" @click="addToCart">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ProductService } from "../productService";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      product: null,
      quantity: 1
    };
  },
  methods: {
    addToCart() {
      if (this.parsedQuantity == 0) {
        alert("Quantity must be greater than or equal to 1");
        return;
      }

      this.$store.dispatch("cart/add", {
        id: this.product.id,
        quantity: this.parsedQuantity
      });
      this.quantity = 1;
    }
  },
  computed: {
    parsedQuantity() {
      return parseInt(this.quantity);
    }
  },
  created() {
    this.product = ProductService.getById(this.$route.params.id);
  }
};
</script>
