<template>
  <div>
    <h1>Sign in</h1>

    <div class="row">
      <div class="col-4">
        <form>
          <div class="form-group">
            <label for>Email</label>
            <input type="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for>Password</label>
            <input type="password" class="form-control" />
          </div>
          <button class="btn btn-primary">Sign in</button>
        </form>
        <p class="light mt-2">
          Don't have an account yet?
          <router-link to="/sign-up">Register now</router-link>
        </p>
      </div>
    </div>
  </div>
</template>
