<template>
  <div>
    <h1>Sign up</h1>

    <div class="row">
      <div class="col-4">
        <form>
          <div class="form-group">
            <label for>First name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for>Last name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for>Email</label>
            <input type="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for>Password</label>
            <input type="password" class="form-control" />
          </div>
          <div class="form-group">
            <label for>Confirm password</label>
            <input type="password" class="form-control" />
          </div>
          <button class="btn btn-primary">Sign up</button>
        </form>
        <p class="light mt-2">
          Already have login and password?
          <router-link to="/sign-in">Sign in</router-link>
        </p>
      </div>
    </div>
  </div>
</template>
