#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.square {
  height: 100px;
  width: 100px;
}

.blue {
  background-color: blue;
}

.with-solid-borders {
  border: 1px solid black;
}

.with-dashed-borders {
  border: 1px dashed black;
}
