<template>
  <div class="col-xs-12 col-sm-6">
    <p v-if="server === null">Server Details are currently not updated</p>
    <p v-else>Server #{{ server.id }} - status: {{ server.status }}</p>
  </div>
</template>

<script>
import { eventBus } from "./main.js";

export default {
  data: function() {
    return {
      server: null
    }
  },
  created() {
    eventBus.$on('serverWasSelect', (id, status) => {
      this.server = { id, status };
    })
  }
}
</script>
