<template>
  <li @click="selectServer(id, status)">Server #{{ id }} - status: {{ status }}</li>
</template>

<script>
import { eventBus } from "./main.js";

export default {
  props: {
    id: Number,
    status: String
  },
  methods: {
    selectServer(id, status) {
      eventBus.selectServer(id, status);
    }
  }
}
</script>
