<template>
  <div class="container">
    <app-quote-progress :quotesCount="quotes.length"></app-quote-progress>
    <app-new-quote></app-new-quote>
    <app-quote-grid :quotes="quotes"></app-quote-grid>
    <div class="row">
      <div class="alert alert-info" role="alert">
        <strong>Info:</strong> Click on a Quote to delete it.
      </div>
    </div>
  </div>
</template>

<script>
import QuoteProgress from "./components/QuoteProgress.vue";
import NewQuote from "./components/NewQuote.vue";
import QuoteGrid from "./components/QuoteGrid.vue";
import { eventBus } from "./main.js";

export default {
  data: function() {
    return {
      quotes: [],
      maxQuotes: 10
    };
  },
  components: {
    appQuoteProgress: QuoteProgress,
    appNewQuote: NewQuote,
    appQuoteGrid: QuoteGrid
  },
  created() {
    eventBus.$on("quoteWasSubmited", quote => {
      if (this.quotes.length == this.maxQuotes) {
        alert("Too much quotes!");
        return;
      }

      this.quotes.push(quote);
    });

    eventBus.$on("quoteWasDeleted", index => {
      this.quotes.splice(index, 1);
    });
  }
};
</script>

<style>
</style>
