<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="exercise">
  <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
  <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
  <!-- 2) Output your age, multiplied by 3 -->
  <p>{{ age * 3 }}</p>
  <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
  <p>{{ randomNumber() }}</p>
  <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
  <div>
    <img style="width:100px;height:100px" v-bind:src="imageLink">
  </div>
  <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
  <div>
    <input type="text" v-bind:value="name">
  </div>
</div>

<script>
  new Vue({
    el: '#exercise',
    data: {
      name: 'Maximiliano Ezequiel Mendivil',
      age: 27,
      imageLink: 'https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/11/19/15741848801180.jpg'
    },
    methods: {
      randomNumber: function() {
        return Math.random();
      }
    }
  });
</script>
