<template>
  <div>
    <h1>The User Page</h1>
    <button class="btn btn-primary" @click="goToHome">Go to home</button>
    <hr>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  methods: {
    goToHome() {
      this.$router.push('/');
    }
  }
};
</script>
