<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h1>Directives Exercise</h1>
        <!-- Exercise -->
        <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
        <button v-custom-on:click="'Maximiliano'">Click me</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  directives: {
    "custom-on": {
      bind(el, binding, vnode) {
        if (binding.arg == 'click') {
          el.addEventListener('click', () => {
            alert(`Hello, ${binding.value}`);
          });
        }
      }
    }
  }
};
</script>

<style>
</style>
