<template>
  <div class="component">
    <h3>You may edit the User here</h3>
    <p>User age: {{ age }}</p>
    <p>Edit me!</p>
    <button @click="changeAgeCallback">Change age</button>
    <button @click="changeAge">Change age with event bus</button>
  </div>
</template>

<script>
import { eventBus } from "../main.js";

export default {
  props: {
    age: Number,
    changeAgeCallback: Function
  },
  methods: {
    changeAge() {
      this.age = 30;
      eventBus.changeAge(this.age);
    }
  }
};
</script>

<style scoped>
div {
  background-color: lightgreen;
}
</style>
