<template>
  <div class="component">
    <h3>You may view the User Details here</h3>
    <p>Many Details</p>
    <p>User name: {{ name }}</p>
    <p>User age: {{ age }}</p>
    <button @click="resetName">Reset name</button>
    <button @click="resetCallback">Reset name with callback</button>
  </div>
</template>

<script>
import { eventBus } from "../main.js";

export default {
  props: {
    name: String,
    resetCallback: Function,
    age: Number
  },
  methods: {
    resetName() {
      this.$emit("nameWasReset", "Max");
    }
  },
  created() {
    eventBus.$on('ageWasChange', (age) => {
      this.age = age;
    });
  }
};
</script>

<style scoped>
div {
  background-color: lightcoral;
}
</style>
