<template>
  <div class="container">
    <app-header></app-header>
    <hr />
    <app-home></app-home>
    <hr />
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from "./Header.vue";
import Home from "./Home.vue";
import Footer from "./Footer.vue";

export default {
  components: {
    "app-header": Header,
    "app-home": Home,
    "app-footer": Footer
  }
};
</script>

<style>
</style>
