<template>
  <div class="row">
    <div class="form-group">
      <label for="quote">Quote</label>
      <textarea class="form-control" id="quote" rows="3" v-model="quote"></textarea>
    </div>
    <button type="button" class="btn btn-primary" @click="newQuote">Add quote</button>
  </div>
</template>

<script>
import { eventBus } from "../main.js";

export default {
  data: function() {
    return {
      quote: ''
    };
  },
  methods: {
    newQuote() {
      eventBus.submitQuote(this.quote);
      this.quote = '';
    }
  }
};
</script>

<style>
</style>
