<template>
  <div class="row">
    <app-quote v-for="(quote, index) in quotes" :key="index" :quote="quote" :id="index"></app-quote>
  </div>
</template>

<script>
import Quote from './Quote.vue';

export default {
  props: {
    quotes: Array
  },
  components: {
    appQuote: Quote
  }
};
</script>

<style>
</style>
