<template>
  <div class="panel panel-default" @click="deleteQuote">
    <div class="panel-body">{{ quote }}</div>
  </div>
</template>

<script>
import { eventBus } from '../main';

export default {
  props: {
    quote: String,
    id: Number
  },
  methods: {
    deleteQuote() {
      eventBus.deleteQuote(this.id);
    }
  }
};
</script>

<style>
</style>
