<template>
  <div class="row">
    <h1>Quoted added</h1>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        aria-valuenow="60"
        aria-valuemin="0"
        aria-valuemax="100"
        :style="{width: percentageCount + '%'}"
      >{{ quotesCount }} / 10</div>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../main.js";

export default {
  props: {
    quotesCount: Number
  },
  computed: {
    percentageCount() {
      return this.quotesCount * 10;
    }
  }
};
</script>

<style>
</style>
